<div class="navbar-fixed">
        <nav class="purple darken-4">
          <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">phyQuizz</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#">Novo Jogo</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
        </nav>
      </div>
      <ul id="nav-mobile" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background purple darken-4">
              <!-- <img src="webroot/img/icon.png"> -->
            </div>
            <a href="#user"><img class="circle" src="webroot/img/icon.png"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
        <li><a href="index.html"> <i class="material-icons left">home</i> Início</a></li>
        <li><a href="novo_jogo.html"> <i class="material-icons left">videogame_asset</i> Novo jogo</a></li>
        <li><a href="game.html"> <i class="material-icons left">videogame_asset</i> Continuar</a></li>
        <li><a href="pontuacao.html"><i class="material-icons left">inbox</i> Pontuação</a></li>
        <li><a href="historico.html"><i class="material-icons left">history</i> Histórico</a></li>
        <br>
        <li><a href="historico.html"><i class="material-icons left">settings</i> Configurações</a></li>
        <li><a href="historico.html"><i class="material-icons left">refresh</i> Resetar Pontuação</a></li>
        <li><a href="historico.html"><i class="material-icons left">favorite</i> Sobre</a></li>
        <li><a href="historico.html"><i class="material-icons left">share</i> Compartilhar</a></li>
        <li><a href="https://github.com/paulhenrique/phyQuizz"><i class="material-icons left">code</i> Ver o
            código</a>
        </li>
        <li><a href="https://github.com/paulhenrique/phyQuizz"><i class="material-icons left">add_to_home_screen</i>
            Adicionar a tela inicial</a></li>
      </ul>